.red{
    background-color: red;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.orange{
    background-color: orange;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.yellow{
    background-color: yellow;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.green{
    background-color: green;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.blue{
    background-color: blue;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.indigo{
    background-color: indigo;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.violet{
    background-color: violet;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
.red{
    background-color: red;
    width:50px;
    height: 80px;
    border-color: black;
    margin: 10px;
    
}
