
body {
    display: block;
    margin: 10px;
}

.guess {
    text-align: center;
    margin: auto;
    margin-top: 50px;
    width: 50%;
    border-color: black;
}
    

.boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 30px;
  }

.box {
    width: 200px;
    height: 200px;
    border-color: black;
    border: 5px solid white;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
}

.red{
    background-color: red;
 
}
.orange{
    background-color: orange;
    
}
.yellow{
    background-color: yellow;
    
}
.green{
    background-color: green;
    
}
.blue{
    background-color: blue;
    
}
.indigo{
    background-color: indigo;
    
}
.violet{
    background-color: violet;
    
}
.colorclick {
    text-align: center;
    margin: auto;
    width: 50%;
    margin-top: 30px;
    font-weight: 100px;  
    font-size: 30px;  
}

#colortext {
    /* background-color: aqua; */
    font-size: 10px;
    text-align: center;

}

